# If you are reading this ⚠️ DO NOT PUT REAL KEYS HERE ⚠️ use vi .env instead

API_ID=26210197
API_HASH=383b31be22170936d739f92687c682a0
TOKEN=7850456492:AAFlhJN2vH0T_iUMTGQ0saTp0cYvGw90BV8
STRING1=BAGqrtcAVbucthzkEbG5hd6iKA81Fv4NcVZ6cRbk6dSXsFRO8wcdlvR8vlRwkuNBaftVc5K4Gek67CHkc_IwzBpZpqKEoR9qRQ2AQbyNGsRxRTmYEmENBP2LOpmb6vIRqVUT
STRING2=
STRING3=
STRING4=
STRING5=
STRING6=
STRING7=
STRING8=
STRING9=
STRING10=
MONGO_URI=mongodb+srv://gamerzone47:hepitosgamer47@gamerzone.0df9rbt.mongodb.net/?retryWrites=true&w=majority&appName=Gamerzone
API_URL=https://api.onegrab.fun
API_KEY=952069_9QekL_ifuqoH6Y60oHk3cLrLH97Iawgh
SONG_DURATION_LIMIT=3600
OWNER_ID=8084403433
LOGGER_ID=-1002746135283
DEFAULT_SERVICE=youtube
DOWNLOADS_DIR=tmp/music
DB_NAME=MusicBot
COOKIES_URL=https://batbin.me/livelier
SUPPORT_GROUP=https://t.me/ejderhamusicduyuru
SUPPORT_CHANNEL=https://t.me/ejderhamusicduyuru
DEVS=7541568139
ENABLE_VPLAY=false
